#logo{
    border-color: black;
    border: solid 2px;
}
#logo p{
    /* animation: 3s infinite alternate slidein; */
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

#menu{
    border-bottom: solid 2px rgb(0, 0, 0);
    border-right: solid 2px rgb(0, 0, 0);
    border-left: solid 2px rgb(0, 0, 0);
}
.bloque-centrado{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

#btn-ceo{
    background-color: orange;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 60px;
    padding-left: 60px;
}

#contendor-mi-informacion{
    width: 100%;
    display: flex;
}

#foto{
    border: solid 2px black;
    border-top: none;
    width: 20%;
}

#mi-informacion{
    border: solid 2px black;
    width: 80%;
    border-top: none;
    margin-left: 1px;
    padding-left: 30px;
}

#mi-informacion h3{
    margin-bottom: 1px;
}

#mi-informacion h6{
    margin-top: 0px;
    margin-bottom: -5px;
}

#mi-prototipo #pdf-proto{
    width: 100%;
    height: 60%;
}

#btn-calcular{
    background-color: orange;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 60px;
    padding-left: 60px;
    margin: 30px;
}